<ion-view>
	<ion-content class="color.4">
		
	<link rel="stylesheet" href="../css/info.css">

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>INFORMACION</h1>


					<img class="MO"src="../img/1.png">
					<img class="MI"src="../img/7.png">

					<div class="container oscar">
					<h2>¿QUE SON LOS POKEMON?</h2>
					<p>Pokémon (ポケモン Pokemon?) es una franquicia de medios que originalmente comenzó como un videojuego RPG, pero debido a su popularidad ha logrado expandirse a otros medios de entretenimiento como series de televisión, juegos de cartas, ropa, entre otros, convirtiéndose en una marca que es reconocida en el mercado mundial. Las ventas de videojuegos hasta el 1 de diciembre de 2006 habían alcanzado una cantidad de 312 millones de ejemplares (incluyendo la venta de la versión Pikachu de la consola Nintendo 64),1​ logrando ocupar el segundo lugar de las sagas de videojuegos más vendidos de Nintendo.2​ La franquicia celebró su décimo aniversario el 27 de febrero de 2006.3​4​</p>
					 <img class="MU"src="../img/6.png">
					</div>
			</div>
		</div>
	</div>

	</ion-content>
</ion-view>