<ion-view>
  <ion-content  class="fondo1" >
  
	<link rel="stylesheet" href="../css/login.css">
	
	</br></br></br>
	<img src="../img/masterball.png" alt="" class="img">

	<p class="texto">Registro</p>
	<div class="Registro">
	<form method="post" action="https://getform.org/f/70415a77-d632-4883-bf07-2e15d3f557da">

	<span class="fontawesome-user"></span><input type="text" required placeholder="Nombre de usuario" autocomplete="off"> 
	<span class="fontawesome-envelope-alt"></span><input type="text" id="email" required placeholder="Correo" autocomplete="off">

	<span class="fontawesome-lock"></span><input type="password" name="password" id="password" required placeholder="Contraseña" autocomplete="off"> 

	<input type="submit" value="Registrarse" title="Registra tu cuenta" ng-click="test()"> 
	</form></br>

  	<img src="../img/img3.jpg" alt="" class="img1">
</ion-content>
</ion-view>