<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <link rel="stylesheet" href="../css/inicio1.css">
    
      <div class="container">
    <div class="row">
      <div class="col col-50 ">
        <input type="submit" value="pokedex" title="Registra tu cuenta" ng-click="irLogin()" class="boton">
      </div>
      <div class="col col-50">
        <center>
        <img src="../img/img7.jpg" alt="" class="img">
        </center>
      </div>
    </div>
 

  <div class="container">
    <div class="row">
      <div class="col">
        <center>
        <img src="../img/img5.jpg" alt="" class="img1">
        </center></br></br>
      </div>
    </div>
    
  </ion-content>
</ion-view>
