<ion-view view-title="Account">
  <ion-content class="color4">

  	<link rel="stylesheet" href="../css/elij.css">
   
   <div class="container">
 		<div class="row">
 			<div class="col col-50">
 				<center>
 				<img src="../img/img7.jpg" alt="" class="img">
 				</center>
 			</div>
 			<div class="col col-50">
 				<button type="button" class="btn btn-danger color1" ng-click="poke()" ><h6>ROCA</h6></a></button>
 			</div>
		</div>
		<div class="row">
 			<div class="col col-50">
 				<center>
 				<img src="../img/img7.jpg" alt="" class="img">
 				</center>
 			</div>
 			<div class="col col-50">
 				<button type="button" class="btn btn-danger color1" ><a href="pokedex.html" ><h6>ELECTRICO</h6></a></button>
 			</div>
		</div>
		<div class="row">
 			<div class="col col-50">
 				<center>
 				<img src="../img/img7.jpg" alt="" class="img">
 				</center>
 			</div>
 			<div class="col col-50">
 				<button type="button" class="btn btn-danger color1" ><a href="pokedex.html" ><h6>FUEGO</h6></a></button>
 			</div>
		</div>
		<div class="row">
 			<div class="col col-50">
 				<center>
 				<img src="../img/img7.jpg" alt="" class="img">
 				</center>
 			</div>
 			<div class="col col-50">
 				<button type="button" class="btn btn-danger color1" ><a href="pokedex.html" ><h6>HIELO</h6></a></button>
 			</div>
		</div>
		<div class="row">
 			<div class="col col-50">
 				<center>
 				<img src="../img/img7.jpg" alt="" class="img">
 				</center>
 			</div>
 			<div class="col col-50">
 				<button type="button" class="btn btn-danger color1" ><a href="pokedex.html" ><h6>AGUA</h6></a></button>
 			</div>
		</div>
 	</div>


  </ion-content>
</ion-view>
