<ion-view view-title="pokedex">
  <ion-content class="color3">

    <link rel="stylesheet" href="../css/ubica.css">
    
<div class="pokemon"><i></i></div>

<h1 class="juan">MAPA POKEMÓN</h1>
 <img src="../img/1.png">
<br>
<br>
<br>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3862.252998385145!2d-90.59097388530405!3d14.52751588984907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a771a379dc6d%3A0x49d6ccba52eec88b!2sLiceo+Compu-Market!5e0!3m2!1ses!2sgt!4v1560472983662!5m2!1ses!2sgt" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



 <img class="MI"src="../img/2.png">

 <img class="MO"src="../img/3.jpg">
 <h2>Que son los pokemon</h2>

<
  </ion-content>
</ion-view>
