<ion-view>
	<ion-content class="color3">

		<link rel="stylesheet" href="../css/pokedex.css">
		
		 <div>
    <img src="../img/pokedex.jpg" alt="" class="img">
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <center>
        <h1>Ingresa un numero para elegir un pokemon</h1>
        </center></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <center>
       <span class="fontawesome-user"></span><input type="number" required placeholder="Ingrese un numero" autocomplete="off"> 
        </center>
      </div>
    </div>
  </div>

  <div class=" container">
    <div class="row">
      <div class="col">
        <center>
        <img src="../img/pokemon.jpg" alt="" class="img1">
        </center>
      </div>
    </div>
  </div>

  <div class="container color2 container-fluid">
    <div class="row">
      <div class="col col-50">
        <h3>NOMBRE:</h3>
      </div>
      <div class="col col-50">
        <h6>Hipno</h6>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <h3>TIPO:</h3>
      </div>
      <div class="col col-50">
        <h6>psíquico</h6>
      </div>
    </div>
  </div>
  <button class="button button-outline button-dark" ng-click="goBack()">
  	GoBack
  </button>
	</ion-content>
</ion-view>